@import "src/variables/variables";



.counter {
  width: $counterWidth;
  height: $counterHeights;
  background: $counterBackground;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0,0,0,.3);
  .buttons {
    flex-basis: 50%;
    background: #61dafb;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -2px 14px rgba(0,0,0,.5);;
  }
}